<template>
  <div>
    <my-counter begin="1" @inc="inc" @dec="dec">
      Counterrrrrr
      <template #dec>
        -
      </template>
      <template #inc>
        +
      </template>
    </my-counter>
  </div>
</template>

<script>
import MyCounter from '../components/MyCounter.vue'
export default {
  components: { MyCounter },
  data () {
    return {}
  },
  conponents: {
    'my-counter': MyCounter
  },
  methods: {
    inc: function (number) {
      console.log(number)
    },
    dec: function (number) {
      console.log(number)
    }
  }
}
</script>
