<template>
  <div>
    <br />
    <b-form-input
      id="search"
      type="text"
      required
      @keyup="searchData"
      placeholder="Seach name"
    ></b-form-input
    ><br />
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add</b-button
    >
    <b-table striped hover :items="userList" :fields="fields">
      <template #cell(operation)="data">
        <b-button @click="editUser(data)">Edit</b-button>
        <b-button @click="delUser(data)" variant="danger">Delete</b-button>
      </template>
    </b-table>

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.name"
            :state="stateName"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            :state="stateGender"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
  </div>
</template>

<script>
import userService from './UserService'
export default {
  data () {
    return {
      title: '',
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Femele' }
      ],
      form: {
        id: -1,
        name: '',
        gender: null
      },
      userList: [],
      fields: [
        {
          key: 'id',
          sortable: true
        },
        {
          key: 'name',
          sortable: false
        },
        {
          key: 'gender',
          sortable: false
        },
        {
          key: 'operation'
        }
      ]
    }
  },
  methods: {
    searchData (evt) {
      console.log(evt.target.value)
    },
    editUser (user) {
      this.title = 'Edit User ID ' + user.item.id
      this.form = user.item
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      this.$bvModal
        .msgBoxConfirm('Please confirm to delete ' + user.item.name, {
          title: 'Please Confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            userService.deleteUser(user)
          }
        })
    },
    addNewUser () {
      this.title = 'Add new user'
      this.$bvModal.show('modal-form-user')
    },
    checkFormValidity () {
      const valid = this.$refs.form.checkValidity()
      this.nameState = valid
      return valid
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) return
      // Do when pass validation
      if (this.form.id > 0) {
        userService.updateUser(this.form)
      } else {
        userService.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Enter at least 2 characters.'
      }
      return 'Please enter something.'
    },
    validFeedbackName () {
      return this.stateName === true ? 'Success' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please Select'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Success' : ''
    }
  },
  mounted () {
    this.userList = userService.userList
  }
}
</script>
