<template>
  <div>
    <h3><slot></slot></h3>
    <button @click="dec"><slot name="dec"></slot></button>
    {{ number }}
    <button @click="inc"><slot name="inc"></slot></button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      number: 0
    }
  },
  props: [
    'begin'
  ],
  methods: {
    dec: function () {
      if (this.number === 0) return
      this.number--
      this.$emit('dec', this.number)
    },
    inc: function () {
      this.number++
      this.$emit('inc', this.number)
    }
  },
  created () {
    this.number = this.begin
  }
}
</script>
