<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container" id="app">
        <form>
            <div class="form-group">
              <input v-if="todo==null" @keydown.enter.prevent ="addTodo" type="text" class="form-control" id="textTodo" placeholder="เพิ่มสิ่งที่ต้องทำ">
              <input v-else @keydown.enter.prevent ="editTodo" type="text" class="form-control" id="textTodo" :value="todo.text" placeholder="แก้ไขสิ่งที่ต้องทำ">
            </div>
        </form>
        <template>
            <div>
                
            </div>
        </template>
        <nav aria-label="Page navigation example">
            <ul class="pagination" >
              <li class="page-item" v-if="pageNumber != 0"><a class="page-link" href="#" @click="pageNumber--">Previous</a></li>
              <li class="page-item" v-for="page in getNumberOfPage">
                  <template v-if="page == pageNumber+1">
                    <a class="page-link" style="background-color: rgb(78, 72, 72);color: white;" href="#" @click="pageNumber=page-1">{{page}}</a>
                  </template>
                  <template v-else>
                    <a class="page-link" href="#" @click="pageNumber=page-1">{{page}}</a>
                  </template>
                  
                </li>
              <li class="page-item" v-if="pageNumber != getNumberOfPage-1"><a class="page-link" @click="pageNumber++" href="#">Next</a></li>
            </ul>
        </nav>

        <template v-if="todos.length == 0">
            <h1 style="text-align: center;">Don't have anything</h1>
        </template>
        <template v-else >
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Todo</th>
                    <th scope="col">
                        Operator
                        <button class="btn btn-success" @click="addNew" v-if="todo != null">Add New</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(todo,index) in getTodoByPaging">
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.text}}</td>
                    <td>
                        <button class="btn btn-warning" @click="editOperation(todo)">Edit</button>
                        <button class="btn btn-danger" @click="delOperation(todo)">Delete</button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </template>
    </div>

    <script>
        var app = new Vue({
            el:'#app',
            data: {
                lastId:5,
                todo:null,
                pageNumber:0,
                pageSize:3,
                todos:[
                    {
                        id:1,
                        text:'ล้างจาน'
                    },
                    {
                        id:2,
                        text:'ซักผ้า'
                    },
                    {
                        id:3,
                        text:'ทำการบ้าน'
                    },
                    {
                        id:4,
                        text:'เล่นเกมส์'
                    }
                ]
            },methods: {
                addTodo:function(event){
                    var newTodo = {
                        id: this.lastId++,
                        text:event.target.value
                    };
                    this.todos.push(newTodo);
                    event.target.value = '';
                    
                },
                editOperation:function(todo){
                    this.todo = todo;
                },
                delOperation:function(todo){
                    var index = this.todos.findIndex(t => t.id == todo.id);
                    this.todos.splice(index,1);
                },
                editTodo:function(event){
                    this.todo.text = event.target.value;
                    this.todo = null;
                },
                addNew:function(){
                    this.todo = null;
                }
            },computed: {
                getTodoByPaging:function(){
                    var begin = this.pageNumber*this.pageSize;
                    var end = begin + this.pageSize;
                    return this.todos.slice(begin,end);
                },
                getNumberOfPage: function(){
                    return Math.ceil(this.todos.length / this.pageSize);
                }
            },
            
            
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>