<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="radio" id="animal" value="animal" v-model="type">
        <label for="animal">Animal</label>
        <input type="radio" id="flower" value="flower" v-model="type">
        <label for="flower">Flower</label>
        <template v-if="isAnimalType">
            <div>
                <input type="checkbox" id="dog" v-model="list" value="dog">
                <label for="dog">Dog</label>
                <input type="checkbox" id="cat" v-model="list" value="cat">
                <label for="cat">Cat</label>
                <input type="checkbox" id="bird" v-model="list" value="bird">
                <label for="bird">Bird</label><br>
            </div>
        </template>

        <template v-else-if="isFlowerType">
            <div>
                <input type="checkbox" id="rose" v-model="list" value="rose">
                <label for="rose">Rose</label>
                <input type="checkbox" id="lotus" v-model="list" value="lotus">
                <label for="lotus">Lotus</label>
                <input type="checkbox" id="mali" v-model="list" value="mali">
                <label for="mali">Mali</label><br>
            </div>
        </template>

        <template v-else>
            <div>
                Please Select One !!
            </div>
        </template>
        

        <p>Love Type: {{type}}</p>
        <p>Love List: <span v-if="getListLength==0">Nothing</span></p>
        <ul>
            <li v-for="love in list">
                {{love}}
            </li>
        </ul>
        <p>Love List Length: {{getListLength}}</p>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data: {
                type:'',
                list:[]
            },
            computed: {
                getListLength: function(){
                    return this.list.length;
                },
                isAnimalType: function(){
                    return this.type == 'animal';
                },
                isFlowerType: function(){
                    return this.type == 'flower';
                },
            },
            watch: {
                type:function(newValue, oldValue){
                    this.list = [];
                }
                
            },
            
        });
    </script>

</body>
</html>